@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  width: 100%;
  height: 100%;
}
/* 
.hero.login:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(239, 239, 239);
  background: -moz-radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(239, 239, 239, 1) 0%,
    rgba(221, 214, 254, 1) 33%,
    rgba(216, 210, 255, 1) 66%,
    rgba(239, 239, 239, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efefef",endColorstr="#efefef",GradientType=1);
} */
.menu-dropdown {
  visibility: hidden;
  opacity: 0;
}

.table :where(thead, tfoot) {
  color: var(--fallback-bc, oklch(var(--bk)));
}

.input:focus,
.input:focus-within {
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: var(--fallback-p, oklch(var(--p)));
  border-color: var(--fallback-p, oklch(var(--p)));
  box-sizing: border-box;
}

.time-picker::-webkit-scrollbar {
  display: none;
}

.time-picker {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.inherit.input:has(> input[disabled]),
.inherit.input-disabled,
.inherit.input:disabled,
.inherit.input[disabled] {
  /* background-color: inherit !important; */
  color: var(--fallback-bc3, oklch(var(--bc3)));
}

.inherit.textarea-disabled,
.inherit.textarea:disabled,
.inherit.textarea[disabled] {
  /* background-color: inherit !important; */
  color: var(--fallback-bc3, oklch(var(--bc3)));
}

.layout {
  background-color: var(--fallback-b1, oklch(var(--b1)));
}
@keyframes progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.menu-dropdown-show:hover + ul {
  visibility: visible;
}

.menu-dropdown-sub:hover {
  visibility: visible;
}
:where(
    .menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)
  ):not(.active, .btn):hover,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(.active, .btn):hover {
  background-color: var(--fallback-p, oklch(var(--p) / 0.7));
}
