@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  width: 100%;
  height: 100%;
}

.menu-dropdown {
  visibility: hidden;
  opacity: 0;
}

.input:focus,
.input:focus-within {
  outline-width: 1px;
  outline-offset: 1px;
  outline-color: var(--fallback-p, oklch(var(--p)));
  border-color: var(--fallback-p, oklch(var(--p)));
  box-sizing: border-box;
}

.time-picker::-webkit-scrollbar {
  display: none;
}

.time-picker {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.layout {
  /* background-color: var(--fallback-b2, oklch(var(--b2))); */
}
@keyframes progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.menu-dropdown-show:hover + ul {
  visibility: visible;
}

.menu-dropdown-sub:hover {
  visibility: visible;
}

@keyframes dropDownBadge {
  0% {
    transform: translateX(48px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateX(26px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateX(13px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateX(6.5px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateX(4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
